extends ./layout.jade

block content
  p Hi, I'm Jeremy.  I'm a software engineer in Grand Rapids, MI.

  a.link(href="mailto:dyeje@mail.gvsu.edu")
    img.logo(src="email.ico")
    span.align Email
  a.link(href="/resume.pdf" download="dyejeResume")
    img.logo(src="pdf.png")
    span.align Resume
  a.link(href="http://www.github.com/dyeje" target="_blank")
    img.logo(src="github.png")
    span.align Github
  a.link(href="https://www.linkedin.com/in/dyeje" target="_blank")
    img.logo(src="linkedin.png")
    span.align LinkedIn
