link(rel='stylesheet', href='/styles.css')

html
  head
    title dyeje
  body
    div.container
      h1 dyeje

      ul.horizontal
        li
          a.active About
        li
          a Portfolio

      div.content
        p Hi, I'm Jeremy.  I'm a software engineer in Grand Rapids, MI.

        a.link
          img.logo(src="email.ico")
          span.align Email
        a.link
          img.logo(src="pdf.png")
          span.align Resume
        a.link(href='http://www.github.com/dyeje' target="_blank")
          img.logo(src="github.png")
          span.align Github
        a.link(href='https://www.linkedin.com/in/dyeje' target="_blank")
          img.logo(src="linkedin.png")
          span.align LinkedIn
