link(rel='stylesheet', href='/styles.css')

html
  head
    title dyeje
  body
    div.container
      h1 dyeje

      ul.horizontal
        li
          a(href="/" class=(about ? "active" : "")) About
        li
          a(href="/portfolio" class=(portfolio ? "active" : "")) Portfolio

      div.content
        block content