extends ./layout.jade

block content
  div.surrounded
    h2 Surrounded
    p Surrounded is an HTML5 Canvas game. It's inspired by the Flash game Fishy. I was never satisfied by the difficulty of Fishy so I decided to put my own spin on it.  It's the first game I've made, and I'm pretty satisfied with how it turned out.  I'm still working on polishing up the user experience (instructions, menus, etc), but the core gameplay is finished.
    div.img-container
      img.portfolio-img(src="surrounded.png")
