.container {
  width: 50%;
  margin: auto;
}

.content {
  font-family: "Helvetica", "Arial", sans-serif;
}

.align {
  vertical-align: middle;
}

.link {
  display: block;
}

.logo {
  height: 14px;
  width: 14px;
  vertical-align: middle;
  margin-right: 3px;
}

.headshot {
  width: 100%;
  opacity: 0.65;
}

a.link {
  margin-bottom: 10px;
  text-decoration: none;
  color: #4183c4;
}

h1 {
  font-family: "Verdana", sans-serif;
  font-size: 5em;
  font-weight: 100;
  margin-bottom: 30px;
}

ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.horizontal li {
    float: left;
}

ul.horizontal li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.horizontal li a:hover:not(.active) {
    background-color: #111;
}

ul.horizontal li a.active {
    background-color :#4CAF50;
}

body {
  background-color: #ECECEC;
}